@{
    ViewBag.Title = "About RyanTube";
}
<h2>About RyanTube</h2>
<h4>RyanTube is a basic ASP.NET Web Application for sharing gaming videos with Ryan's friends using AWS S3.</h4>

<p>If you're not one of Ryan's friends, how did you even find this? Just go to <span><a href="https://youtube.com">YouTube</a></span> or record your own videos. Ryan is not accepting new friends at this time.</p>
