@model RyanTube.Models.ApplicationUser
@{
    ViewBag.Title = "AwaitApproval";
}
<h2>Hello @Html.DisplayFor(model => model.Email)</h2>
<h3>Welcome to RyanTube. Before you will be allowed access to the site, Ryan will have to approve your account.</h3>

